<br>

<div class="mx-auto" style="width: 400px;">
  <p>ようこそ、ながのCAKEへ！</p>
</div>
<div class="mx-auto" style="width: 500px;">
  <p>このサイトはケーキ販売のECサイトになります。</p>
</div>
<div class="mx-auto" style="width: 450px;">
  <p>会員でない方も商品の閲覧はできますが、</p>
</div>
<div class="mx-auto" style="width: 400px;">
  <p>購入には会員登録が必要になります。</p>
</div>

