<div class="container">

  <div class="mx-auto" style="width: 400px;">
    <p>ようこそ、ながのCAKEへ！</p>
  </div>
  <div class="mx-auto" style="width: 500px;">
    <p>このサイトはケーキ販売のECサイトになります。</p>
  </div>
  <div class="mx-auto" style="width: 450px;">
    <p>会員でない方も商品の閲覧はできますが、</p>
  </div>
  <div class="mx-auto" style="width: 400px;">
    <p>購入には会員登録が必要になります。</p>
  </div>

</div>
<div class="container">
  <h2>新着商品</h2>
     <div class="row">
		    <% @items.each do |item| %>
		      <div class="col-xs-3">
		        <table class="table table-bordered">
            <tr>
             <td><%= link_to public_item_path(item) do %>
                 <%= image_tag item.get_image(100,100) %>
                 <% end %>
             </td>
            <tr>
             <td><%= link_to item.name, public_item_path(item) %></td>
            </tr>
            <tr>
             <td><%= item.price %></td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>
</div>

